@import "tailwindcss";
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
/* Màu tiêu đề */
.custom-table .ant-table-thead > tr > th {
  background-color: #133e87;
  color: white;
  font-weight: 600;
}

.custom-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: #d9eafc;
}

.custom-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #ffffff; 
}

/* Màu khi hover */
.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #cccccc;
}

.custom-colored-modal .ant-modal-content {
  background-color: #daeafa;
}

.ant-upload {
  width: 100% !important;
  height: 100% !important;
}

.ant-modal-content {
  border-radius: 16px !important;
  overflow: hidden;
  padding: 50px !important;
}

  